@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "roboto", sans-serif;
  color: #9fadbd;
  line-height: 1.15;
  --nav-height: 68px;
}

html,
body {
  width: 100%;
  min-height: 100vh;
}

.wrapper {
  display: grid;
  grid-template-areas: "h" "m" "f";
}

.nav--hidden {
  transform: translateY(calc(-1 * var(--nav-height)));
}

header {
  background-color: #152232;
  height: 68px;
  grid-area: h;
  color: #a0b1c5;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 999;
  width: 100%;
  transition: transform ease-out 300ms;
}
header .header__container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 1050px;
  margin-left: 50px;
  margin-right: 50px;
}
header .header__container .header__content {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
}
header .header__container .header__content .header__logo {
  width: 65px;
  height: 55px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
header .header__container .header__content .header__logo img {
  width: 50px;
  height: 50px;
}
header .header__container .header__content .links {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: "overpass", sans-serif;
  font-weight: 600;
  font-size: 0.9rem;
}
header .header__container .header__content .links .browser__dropdown {
  position: relative;
}
header .header__container .header__content .links .browser__dropdown .dropdown {
  transition: 200ms ease-in;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  min-width: 270px;
  height: 203px; /* LEMBRAR DE REMOVER */
  z-index: 100;
  left: -5px;
}
header .header__container .header__content .links .browser__dropdown .dropdown .dropdown__links {
  background-color: #161f2e;
  border-radius: 6px 6px 0px 0px;
  width: 100%;
  padding: 21px 27px;
  height: 75%; /* TEMP */
}
header .header__container .header__content .links .browser__dropdown .dropdown .dropdown__links .primary__link {
  margin-bottom: 10px;
  display: flex;
}
header .header__container .header__content .links .browser__dropdown .dropdown .dropdown__links .primary__link:last-child {
  margin-bottom: 0px;
}
header .header__container .header__content .links .browser__dropdown .dropdown .dropdown__footer {
  background-color: #0c1622;
  border-radius: 0px 0px 6px 6px;
  width: 100%;
  padding: 16px 27px;
}
header .header__container .header__content .links .browser__dropdown:hover .dropdown {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
header .header__container .header__content .links .link {
  color: #a0b1c5;
  padding: 18px 16px;
  letter-spacing: 0.01em;
  display: inline-block;
  transition: ease-in-out 100ms;
  font-weight: 500;
}
header .header__container .header__content .links .link:hover {
  color: #d3d5f3;
}
header .header__container .search {
  margin-right: 15px;
  font-size: 1.1rem;
}
header .header__container .search .fa-search {
  color: #777a9e;
  line-height: 0.75em;
  transition: ease-in-out 200ms;
}
header .header__container .search .fa-search:hover {
  color: #a0b1c5;
}
header .header__container .header__profile {
  display: inline-flex;
  align-items: center;
  height: 55px;
  width: 65px;
}
header .header__container .header__profile .user {
  width: 38px;
  height: 38px;
  position: relative;
}
header .header__container .header__profile .user a {
  display: inline-block;
}
header .header__container .header__profile .user img {
  width: 100%;
  border-radius: 50%;
}
header .header__container .header__profile .user .notification {
  background-color: rgb(250, 122, 122);
  border-radius: 50%;
  color: #fff2f2;
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 500;
  height: 20px;
  width: 20px;
  line-height: 20px;
  overflow: hidden;
  padding-right: 1px;
  text-align: center;
  position: absolute;
  bottom: 9px;
  left: 48px;
  transition: 200ms linear;
}
header .header__container .header__profile .user .notification:hover {
  transform: scale(1.1);
}

main {
  background-color: #0c1622;
  grid-area: m;
  min-height: 100vh;
}
main .main__container {
  width: 100%;
  max-width: 1150px;
  padding-left: 50px;
  padding-right: 50px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 60px;
  margin-top: 68px;
}
main .main__container .preview__header {
  padding-left: 12px;
  margin-bottom: 10px;
  width: 100%;
}
main .main__container .preview__header h2 {
  font-size: 0.9rem;
  font-weight: 500;
}
main .main__container .list__preview {
  /* width: 100%; */
  /* display: flex; */
  /* flex-wrap: wrap; */
  background-color: #161f2e;
  display: grid;
  grid-template-columns: repeat(auto-fill, 85px);
  grid-auto-rows: 115px;
  padding: 20px;
  border-radius: 4px;
  margin-bottom: 25px;
  gap: 20px;
  justify-content: center;
}
main .main__container .list__preview .card {
  /* border-radius: 4px; */
  /* width: 85px; */
  /* height: 115px; */
  /* position: relative; */
}
main .main__container .list__preview .card a {
  background-image: url("https://s4.anilist.co/file/anilistcdn/media/anime/cover/medium/bx129196-eARf1qEerqIm.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  display: inline-block;
  width: 100%;
  min-height: 115px;
  border-radius: 4px;
  position: relative;
}
main .main__container .list__preview .card a .image__text {
  position: absolute;
  background-color: rgba(31, 38, 49, 0.7);
  width: 100%;
  height: 41%;
  bottom: 0;
  padding: 8px;
  text-align: center;
  color: white;
  font-size: 0.8rem;
  text-transform: capitalize;
}
main .main__container .home__content {
  display: grid;
  grid-template-columns: 4fr 3fr;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
main .main__container .home__content .home__aside h2 {
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 10px;
  padding-left: 12px;
}
main .main__container .home__content .home__aside .forum__item {
  background-color: #161f2e;
  border-radius: 3px;
  padding: 18px;
  margin-bottom: 15px;
  position: relative;
}
main .main__container .home__content .home__aside .forum__item .fa-eye {
  position: absolute;
  top: 9px;
  right: 100px;
  color: #8597a5;
  font-size: 0.6rem;
}
main .main__container .home__content .home__aside .forum__item .fa-comments {
  position: absolute;
  top: 9px;
  right: 50px;
  color: #8597a5;
  font-size: 0.6rem;
}
main .main__container .home__content .home__aside .reviews__cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 200px;
  gap: 22px;
  border-radius: 3px;
  margin-bottom: 25px;
}
main .main__container .home__content .home__aside .reviews__cards .reviews__card {
  background-color: #161f2e;
  grid-template-rows: 80px auto;
  display: grid;
  overflow: hidden;
  border-radius: 4px;
}
main .main__container .home__content .home__aside .reviews__cards .reviews__card .banner {
  background-image: url("https://cdn.waifu.im/3864.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  position: relative;
  /*todo ARRUMAR OVERLAY */
}
main .main__container .home__content .home__aside .reviews__cards .reviews__card .banner .read__review {
  position: absolute;
  top: 0;
  width: 100%;
  height: 80px;
}
main .main__container .home__content .home__aside .reviews__cards .reviews__card .content {
  padding: 13px 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
main .main__container .home__content .home__aside .reviews__cards .reviews__card .content .fa-thumbs-up {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #8597a5;
  font-size: 0.9rem;
}
main .main__container .home__content .home__aside .reviews__cards .reviews__card .content .fa-thumbs-up::after {
  margin-left: 8px;
  content: "21";
  font-size: 0.8rem;
  font-weight: 400;
  font-family: "roboto", sans-serif;
}
@media (min-width: 1040px) and (max-width: 1540px) {
  main .main__container {
    width: 100%;
    max-width: 1140px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0 auto;
    padding-top: 38px;
    margin-top: 68px;
  }
}
@media (min-width: 1540px) {
  main .main__container {
    width: 100%;
    max-width: 1520px;
    padding-left: 100px;
    padding-right: 100px;
    margin: 0 auto;
    padding-top: 38px;
    margin-top: 68px;
  }
}

footer {
  background-color: #11161c;
  height: 100px;
  grid-area: f;
  color: #a0b1c5;
  font-family: "overpass", sans-serif;
  font-weight: 600;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
footer .footer__container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 1140px;
}
footer .footer__container .footer__content {
  width: 100%;
  height: 100%;
}

.fa-play,
.fa-book-open {
  color: tomato;
}

.triangulo {
  width: 0;
  height: 0;
  border-top: 100px solid tomato;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
}/*# sourceMappingURL=index.css.map */